<div class="form-container">
  <h2>Generate Fishing Ticket</h2>
  <form [formGroup]="fishingTicketForm" (ngSubmit)="onSubmit()">

    <app-personal-data-form [personalDataGroup]="personalDataGroup"></app-personal-data-form>


    <fieldset class="form-section">
      <legend>Ticket Details</legend>
      <div class="form-grid">
        <div class="form-group">
          <label for="validity">Validity</label>
          <select id="validity" formControlName="validity">
            <option *ngFor="let option of ticketValidities" [value]="option">{{ option }}</option>
          </select>
          <div *ngIf="fishingTicketForm.get('validity')?.invalid && (fishingTicketForm.get('validity')?.dirty || fishingTicketForm.get('validity')?.touched)" class="error-message">
            Validity is required.
          </div>
        </div>

        <div class="form-group">
          <label for="ticketType">Ticket Type</label>
          <select id="ticketType" formControlName="ticketType">
            <option *ngFor="let type of ticketTypes" [value]="type">{{ type }}</option>
          </select>
          <div *ngIf="fishingTicketForm.get('ticketType')?.invalid && (fishingTicketForm.get('ticketType')?.dirty || fishingTicketForm.get('ticketType')?.touched)" class="error-message">
            Ticket Type is required.
          </div>
        </div>
      </div>
    </fieldset>


    <app-address-form [addressGroup]="addressGroup"></app-address-form>

    <div class="form-actions">
      <button type="submit" [disabled]="!fishingTicketForm.valid">Generate Ticket</button>
      <button type="button" (click)="onReset()">Reset</button>
    </div>
  </form>
</div>